@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@500&family=Ubuntu&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    padding: 0 100px;
}

.banner {
    background-color: black;
    border-radius: 20px;
    display: flex;
    width: 100%;

}

.intro {
    padding: 10px 111px;
}

.intro h1 {
    color: #ffffff;
    width: 102%;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    font-family: 'Poppins';
}

.intro p {
    color: #ffffff;
    width: 117%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins';

}

.btn {
    /* -webkit-border-radius: 5;
    -moz-border-radius: 5; */
    border-radius: 5px;
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 20px;
    background: #DD0000;
    ;
    padding: 16px 25px;
    text-decoration: none;
}

.marcelo img {
    width: 581px;
    height: 613px;
    margin-right: 20px;

    margin-top: 20px;
}

.update {
    width: 300px;
    height: 212px;
    left: 140px;
    top: 826px;

    background: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);



}



.update button {
    width: 200px;
    height: 50px;
    margin-left: 35px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 700;

}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.blog {
    background-color: #DD0000;
    font-family: 'Poppins';
    color: #ffffff;
}

.container {
    margin-top: 116px;
}

.merge {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.transfers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-bottom: 37px;

}

.transfer {
    width: 321px;
    height: 362px;
    border: 0.5px solid rgb(211, 209, 209);
    border-radius: 10px;
}

.trns-info p {
    font-family: 'Poppins';
}

.time {
    width: 143px;
    height: 26px;
    left: 496px;
    top: 1528px;
    display: flex;
}

.time span {
    padding: 0px 10px;
}

.trns-info .tran {
    width: 100px;
    height: 32px;
    text-decoration: none;
    padding: 1px 10px;
    border: 1px solid #161616;
    font-family: 'Poppins';
    color: #161616;
    font-weight: 400;
    border-radius: 5px;
}

.trans-img img {
    width: 321px;
}

footer {
    background-color: black;
    margin: -6px -108px;
    color: white;
    text-align: center;
    padding: 68px 0;
}

hr {
    margin-bottom: 50px;
}

footer span {
    padding: 0px 48px;
    /* margin-top: 25px; */
}

.icon {
    padding: 0px 30px;
    margin-top: 90px;
}

.view {
    display: none;
}

/* -----------Responsive design------ */
/* ---mobile---- */
@media only screen and (max-width:688px) {
    .transfers {
        grid-template-columns: repeat(1, 1fr);
    }

    .merge {
        display: inline-block;
        /* background-color: ; */
    }

    .update {
        width: 300px;
        height: 212px;
        /* left: 140px; */
        /* top: 826px; */
        background: #fff;
        border-radius: 10px;
        /* display: grid; */
        /* grid-template-columns: repeat(1, 1fr); */
        margin-left: 28px;
    }

    .view {
        display: block;
    }

    .footer {
        display: grid;
        row-gap: 15px;
        font-size: 25px;
        color: #969191;
    }


}

/* ---tablet--- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .merge {
        display: inline-block;
    }

    .update {
        /* width: 300px; */
        height: 84px;
        /* left: 140px; */
        /* top: 826px; */
        background: #fff;
        border-radius: 10px;
        /* display: grid; */
        /* grid-template-columns: repeat(1, 1fr); */
        display: inline-block;
        width: 134%;
    }

    .update button {
        width: 201px;
        height: 50px;
        margin-left: 12px;
        margin-top: 10px;
        border-radius: 10px;
        font-family: 'Poppins';
        font-weight: 700;
        list-style-type: none;
    }

    .transfers {
        grid-template-columns: repeat(2, 1fr);
    }

    .view {
        display: block;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15px;
        font-size: 25px;
        color: #969191;
        align-items: center;
        justify-items: center;
    }
}




/* Website 2 css  */

.sch-img {
    display: flex;
    padding: 18px 37px;
    gap: 21px;
}

.schedule {
    width: 321px;
    height: 208px;
    border: 0.5px solid rgb(211, 209, 209);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.schedules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-bottom: 37px;
}